[MESSAGES CONTROL]
disable=
    no-name-in-module,
    invalid-name,
    bad-reversed-sequence,
    missing-class-docstring,
    missing-function-docstring,
    line-too-long,
    trailing-whitespace,
    trailing-newlines,
    multiple-statements,
    unneeded-not,
    wrong-import-order,
    ungrouped-imports,
    wrong-import-position,
    import-outside-toplevel,
    import-error,
    undefined-variable,
    undefined-all-variable,
    not-callable,
    consider-using-from-import,
    duplicate-code,
    too-many-instance-attributes,
    too-few-public-methods,
    too-many-branches,
    too-many-arguments,
    too-many-locals,
    too-many-statements,
    too-many-positional-arguments,
    too-many-nested-blocks,
    stop-iteration-return,
    consider-using-in,
    consider-using-with,
    unnecessary-list-index-lookup,
    dangerous-default-value,
    pointless-string-statement,
    unnecessary-lambda,
    using-constant-test,
    protected-access,
    reimported,
    unused-variable,
    unused-argument,
    redefined-outer-name,
    cell-var-from-loop,
    broad-exception-caught,
    subprocess-run-check,
    unspecified-encoding
